<template>
  <div class="container-fluid">
    <form @submit.prevent="submitForm">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">add</i>
              </div>
              <h4 class="card-title">
                {{ $t('global.create') }}
                <strong>{{ $t('cruds.managementDetails.title_singular') }}</strong>
              </h4>
            </div>
            <div class="card-body">
              <back-button></back-button>
            </div>
            <div class="card-body">
              <bootstrap-alert />
              <div class="row">
                <div class="col-md-12">
                  <div
                    class="form-group bmd-form-group"
                    :class="{
                      'has-items': entry.name,
                      'is-focused': activeField == 'name'
                    }"
                  >
                    <label class="bmd-label-floating">{{
                      $t('cruds.managementDetails.fields.name')
                    }}</label>
                    <input
                      class="form-control"
                      type="text"
                      :value="entry.name"
                      @input="updateCompanyName"
                      @focus="focusField('name')"
                      @blur="clearFocus"
                    />
                  </div>

                    <div
                        class="form-group bmd-form-group"
                        :class="{
                      'has-items': entry.phone_1,
                      'is-focused': activeField == 'phone_1'
                    }"
                    >
                        <label class="bmd-label-floating">{{
                            $t('cruds.branchManagement.fields.phone_1')
                            }}</label>
                        <input
                            class="form-control"
                            type="text"
                            :value="entry.phone_1"
                            @input="updateContactPhone1"
                            @focus="focusField('phone_1')"
                            @blur="clearFocus"
                        />
                    </div>
                    <div
                        class="form-group bmd-form-group"
                        :class="{
                      'has-items': entry.phone_2,
                      'is-focused': activeField == 'phone_2'
                    }"
                    >
                        <label class="bmd-label-floating">{{
                            $t('cruds.branchManagement.fields.phone_2')
                            }}</label>
                        <input
                            class="form-control"
                            type="text"
                            :value="entry.phone_2"
                            @input="updateContactPhone2"
                            @focus="focusField('phone_2')"
                            @blur="clearFocus"
                        />
                    </div>


                    <div
                        class="form-group bmd-form-group"
                        :class="{
                      'has-items': entry.address,
                      'is-focused': activeField == 'address'
                    }"
                    >
                        <label class="bmd-label-floating">{{
                            $t('cruds.managementDetails.fields.address')
                            }}</label>
                        <input
                            class="form-control"
                            type="text"
                            :value="entry.address"
                            @input="updateCompanyAddress"
                            @focus="focusField('address')"
                            @blur="clearFocus"
                        />
                    </div>


                  <div
                    class="form-group bmd-form-group"
                    :class="{
                      'has-items': entry.street,
                      'is-focused': activeField == 'street'
                    }"
                  >
                    <label class="bmd-label-floating">{{
                      $t('cruds.managementDetails.fields.street')
                    }}</label>
                    <input
                      class="form-control"
                      type="text"
                      :value="entry.street"
                      @input="updateCompanyStreet"
                      @focus="focusField('street')"
                      @blur="clearFocus"
                    />
                  </div>
                    <div
                        class="form-group bmd-form-group"
                        :class="{
                      'has-items': entry.city,
                      'is-focused': activeField == 'city'
                    }"
                    >
                        <label class="bmd-label-floating">{{
                            $t('cruds.managementDetails.fields.city')
                            }}</label>
                        <input
                            class="form-control"
                            type="text"
                            :value="entry.city"
                            @input="updateCompanyCity"
                            @focus="focusField('city')"
                            @blur="clearFocus"
                        />
                    </div>
                    <div
                        class="form-group bmd-form-group"
                        :class="{
                      'has-items': entry.state,
                      'is-focused': activeField == 'state'
                    }"
                    >
                        <label class="bmd-label-floating">{{
                            $t('cruds.managementDetails.fields.state')
                            }}</label>
                        <input
                            class="form-control"
                            type="text"
                            :value="entry.state"
                            @input="updateCompanyState"
                            @focus="focusField('state')"
                            @blur="clearFocus"
                        />
                    </div>

                    <div
                        class="form-group bmd-form-group"
                        :class="{
                      'has-items': entry.zip,
                      'is-focused': activeField == 'zip'
                    }"
                    >
                        <label class="bmd-label-floating">{{
                            $t('cruds.managementDetails.fields.zip')
                            }}</label>
                        <input
                            class="form-control"
                            type="text"
                            :value="entry.zip"
                            @input="updateCompanyZip"
                            @focus="focusField('zip')"
                            @blur="clearFocus"
                        />
                    </div>


                  <div
                    class="form-group bmd-form-group"
                    :class="{
                      'has-items': entry.website,
                      'is-focused': activeField == 'website'
                    }"
                  >
                    <label class="bmd-label-floating">{{
                      $t('cruds.managementDetails.fields.website')
                    }}</label>
                    <input
                      class="form-control"
                      type="text"
                      :value="entry.website"
                      @input="updateCompanyWebsite"
                      @focus="focusField('website')"
                      @blur="clearFocus"
                    />
                  </div>
                  <div
                    class="form-group bmd-form-group"
                    :class="{
                      'has-items': entry.email,
                      'is-focused': activeField == 'email'
                    }"
                  >
                    <label class="bmd-label-floating">{{
                      $t('cruds.managementDetails.fields.email')
                    }}</label>
                    <input
                      class="form-control"
                      type="text"
                      :value="entry.email"
                      @input="updateCompanyEmail"
                      @focus="focusField('email')"
                      @blur="clearFocus"
                    />
                  </div>

                    <div class="form-group">
                        <label>{{ $t('cruds.managementDetails.fields.thumbnail') }}</label>
                        <attachment
                            :route="getRoute('management')"
                            :collection-name="'management_thumbnail'"
                            :media="entry.thumbnail"
                            :max-file-size="2"
                            :component="'pictures'"
                            :accept="'image/*'"
                            @file-uploaded="insertThumbnailFile"
                            @file-removed="removeThumbnailFile"
                        />
                    </div>


                </div>
              </div>
            </div>
            <div class="card-footer">
              <vue-button-spinner
                class="btn-primary"
                :status="status"
                :isLoading="loading"
                :disabled="loading"
              >
                {{ $t('global.save') }}
              </vue-button-spinner>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Attachment from '@components/Attachments/Attachment'

export default {
    components: {
        Attachment
    },
  data() {
    return {
      status: '',
      activeField: ''
    }
  },
  computed: {
    ...mapGetters('ManagementSingle', ['entry', 'loading'])
  },
  beforeDestroy() {
    this.resetState()
  },
  methods: {
    ...mapActions('ManagementSingle', [
      'storeData',
      'resetState',
      'setCompanyName',
      'setCompanyAddress',
      'setCompanyStreet',
      'setCompanyWebsite',
      'setCompanyEmail',
      'setCompanyCity',
      'setCompanyState',
      'setContactPhone1',
      'setContactPhone2',
      'setCompanyZip',
      'insertThumbnailFile',
      'removeThumbnailFile',
    ]),
    updateCompanyName(e) {
      this.setCompanyName(e.target.value)
    },
    updateCompanyAddress(e) {
      this.setCompanyAddress(e.target.value)
    },
     updateCompanyStreet(e) {
      this.setCompanyStreet(e.target.value)
    },
    updateContactPhone2(e) {
      this.setContactPhone2(e.target.value)
    },
    updateContactPhone1(e) {
          this.setContactPhone1(e.target.value)
    },
    updateCompanyCity(e) {
      this.setCompanyCity(e.target.value)
    }, updateCompanyState(e) {
      this.setCompanyState(e.target.value)
    },updateCompanyZip(e) {
      this.setCompanyZip(e.target.value)
    },
    updateCompanyWebsite(e) {
      this.setCompanyWebsite(e.target.value)
    },
    updateCompanyEmail(e) {
      this.setCompanyEmail(e.target.value)
    },
     getRoute(name) {
          return `${axios.defaults.baseURL}${name}/media`
    },
    submitForm() {
      this.storeData()
        .then(() => {
          this.$router.push({ name: 'management.index' })
          this.$eventHub.$emit('create-success')
        })
        .catch(error => {
          this.status = 'failed'
          _.delay(() => {
            this.status = ''
          }, 3000)
        })
    },
    focusField(name) {
      this.activeField = name
    },
    clearFocus() {
      this.activeField = ''
    }
  }
}
</script>
