<template>
  <div class="container-fluid">
    <form @submit.prevent="submitForm">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">edit</i>
              </div>
              <h4 class="card-title">
                {{ $t('global.edit') }}
                <strong>{{ $t('cruds.reportManagement.title_singular') }}</strong>
              </h4>

            </div>
            <div class="card-body">
              <back-button></back-button>
            </div>
            <div class="card-body">
              <bootstrap-alert />
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div
                                class="form-group bmd-form-group"
                                :class="{
                      'has-items': entry.class_id !== null,
                      'is-focused': activeField == 'class_id'
                    }"
                            >
                                <label class="bmd-label-floating required">{{
                                    $t('cruds.Classes.fields.title')
                                    }}</label>
                                <v-select
                                    name="class_id"
                                    label="name"
                                    :key="'course-field'"
                                    :value="entry.class_id"
                                    :options="lists.classes"
                                    :reduce="entry => entry.id"
                                    @input="updateClass"
                                    @search.focus="focusField('classes')"
                                    @search.blur="clearFocus"
                                />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div
                                class="form-group bmd-form-group"
                                :class="{
                      'has-items': entry.student_id !== 0,
                      'is-focused': activeField == 'student_id'
                    }"
                            >
                                <label class="bmd-label-floating required">{{
                                    $t('cruds.studentManagement.fields.title')
                                    }}</label>
                                <v-select
                                    name="student_id"
                                    label="first_name"
                                    :key="'exam-type-field'"
                                    :value="entry.student_id"
                                    :options="lists.students"
                                    :closeOnSelect="false"
                                    :reduce="entry => entry.id"
                                    @input="updateStudentId"
                                    @search.focus="focusField('student_id')"
                                    @search.blur="clearFocus"
                                />
                            </div>
                        </div>
                    </div>

                   <div class="row">

                        <div class="content col-md-12" >
                            <form  v-on:submit.prevent>
                                <table class="table table-hover table-striped  w-100">
                                    <thead>
                                    <tr class="table-active">
                                        <th>{{$t('cruds.subjects.fields.title')}}</th>
                                        <th>{{$t('cruds.reportManagement.fields.behaviour')}}(/5)</th>
                                        <th>{{$t('cruds.reportManagement.fields.effort')}}(/5)</th>
                                        <th>{{$t('cruds.reportManagement.fields.classwork')}}(/40)</th>
                                        <th>{{$t('cruds.reportManagement.fields.exam')}}(/50)</th>
                                        <th>{{$t('cruds.reportManagement.fields.total')}}</th>


                                    </tr>
                                    </thead>
                                    <tbody>

                                        <tr style="height: 18px;" v-for="(item, index) in lists.schoolSubjects" :key="index">
                                            <td :key="index">
                                                {{ item.name }}
                                            </td>
                                            <td>
                                                <input required class="form-control" name="behaviour"   @change="updateInput($event,index)" type="number"  :value="item.behaviour"   @focus="focusField('exam_code')" @blur="clearFocus" />

                                            </td>
                                            <td>
                                               <input required class="form-control" name="effort"   @change="updateInput($event,index)" type="number"  :value="item.effort"   @focus="focusField('exam_code')" @blur="clearFocus" />

                                            </td>
                                            <td>
                                                <input required class="form-control"  name="classwork"   @change="updateInput($event,index)" type="number" :value="item.classwork"   @focus="focusField('exam_code')" @blur="clearFocus" />
                                            </td>
                                            <td>
                                                <input required class="form-control" name="exam"  @change="updateInput($event,index)" type="number" :value="item.exam"   @focus="focusField('exam_code')" @blur="clearFocus" />
                                            </td>
                                            <td>
                                                <input required class="form-control" readonly name="total"   @change="updateInput($event,index)"  type="number" :value="item.total"    @focus="focusField('exam_code')" @blur="clearFocus" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </form>
                        </div>

                    </div>
                    <hr>




                </div>
              </div>
            </div>
            <div class="card-footer">
              <vue-button-spinner
                class="btn-primary"
                :status="status"
                :isLoading="loading"
                :disabled="loading"
              >
                {{ $t('global.create_new_report') }}
              </vue-button-spinner>
            </div>
          </div>

          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">edit</i>
              </div>
              <h4 class="card-title">
               Config
                <strong>Rules</strong>
              </h4>

            </div>
            <div class="card-body">

            </div>
            <div class="card-body">
              <bootstrap-alert />
              <div class="row">
                <div class="col-md-12">
                   <div class="row">

                        <div class="content col-md-12" >
                            <form  v-on:submit.prevent>
                                <table class="table table-hover table-striped  w-100">
                                    <thead>
                                    <tr class="table-active">
                                        <th>Grade</th>
                                        <th>Max Marks</th>
                                        <th>Min Marks</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                        <tr style="height: 18px;" v-for="(item, index) in lists.grades" :key="index">
                                            <td :key="index">
                                                {{ item.grade }}
                                            </td>
                                            <td>
                                                <input required class="form-control" name="max_marks"   @change="updateRules($event,index)" type="number"  :value="item.max_marks"   @focus="focusField('exam_code')" @blur="clearFocus" />

                                            </td>
                                            <td>
                                               <input required class="form-control" name="minimum_marks"   @change="updateRules($event,index)" type="number"  :value="item.minimum_marks"   @focus="focusField('exam_code')" @blur="clearFocus" />

                                            </td>


                                        </tr>
                                    </tbody>
                                </table>

                            </form>
                        </div>

                    </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <vue-button-spinner
                class="btn-primary"
                :status="status"
                :isLoading="loading"
                :disabled="loading"
              >
                {{ $t('global.create_new_report') }}
              </vue-button-spinner>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      status: '',
      activeField: '',
      schoolSubjects:[],
    }
  },
  computed: {
    ...mapGetters('ReportTemplatesSingle', ['entry', 'loading','lists'])
  },

  beforeDestroy() {
    this.resetState()
  },
  watch: {
    '$route.params.id': {
      immediate: true,
      handler() {
        this.resetState()
        this.fetchEditData(this.$route.params.id)
      }
    }
  },
  methods: {
    ...mapActions('ReportTemplatesSingle', [
      'fetchEditData',
      'updateData',
      'resetState',
      'setName',
      'setTemplate',
      'setClass',
      'setStudentId',
      'setExamSubject',
      'setDefaultRules',
      'setInput',
      'setRules',
    ]),
    updateName(e) {
      this.setName(e.target.value)
    },

    updateTemplate(e) {
      this.setTemplate(e.target.value)
    },
    updateClass(value) {
          this.setClass(value)
    },
    updateStudentId(value) {
          this.setStudentId(value)
    },
    updateInput(e,index) {
        const data = {};
        data.value = e.target.value;
        data.index = index;
        data.field = e.target.name;;
        this.setInput(data)
    },
    updateRules(e,index) {
        const data = {};
        data.value = e.target.value;
        data.index = index;
        data.field = e.target.name;;
        this.setRules(data)
    },
    submitForm() {
      this.updateData()
        .then(() => {
          this.$router.push({ name: 'report_templates.index' })
          this.$eventHub.$emit('update-success')
        })
        .catch(error => {
          this.status = 'failed'
          _.delay(() => {
            this.status = ''
          }, 3000)
        })
    },
    focusField(name) {
      this.activeField = name
    },
    clearFocus() {
      this.activeField = ''
    },
    updateExamSubject(e,index) {
          this.examSubjects[index].subject_id = e.subject_id;
    },


  }
}
</script>
