<template>
  <div class="container-fluid">
    <form @submit.prevent="submitForm">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">edit</i>
              </div>
              <h4 class="card-title">
                {{ $t('global.edit') }}
                <strong>{{
                  $t('cruds.subjects.title_singular')
                }}</strong>
              </h4>
            </div>
            <div class="card-body">
              <back-button></back-button>
            </div>
            <div class="card-body">
              <bootstrap-alert />
              <div class="row">
                <div class="col-md-12">
                  <div
                    class="form-group bmd-form-group"
                    :class="{
                      'has-items': entry.name,
                      'is-focused': activeField == 'name'
                    }"
                  >
                    <label class="bmd-label-floating required">{{
                      $t('cruds.subjects.fields.title')
                    }}</label>
                    <input
                      class="form-control"
                      type="text"
                      :value="entry.name"
                      @input="updateName"
                      @focus="focusField('name')"
                      @blur="clearFocus"
                      required
                    />
                  </div>
                    <div class="form-group form-check">
                        <label class="form-check-label"
                        ><input
                            class="form-check-input"
                            type="checkbox"
                            :value="entry.is_published"
                            :checked="entry.is_published"
                            @change="updateIsPublished"
                        /><span class="form-check-sign"
                        ><span class="check"></span></span
                        >{{ $t('cruds.subjects.fields.is_published') }}</label
                        >
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label"
                        ><input
                            class="form-check-input"
                            type="checkbox"
                            :value="entry.is_group"
                            :checked="entry.is_group"
                            @change="updateIsGroup"
                        /><span class="form-check-sign"
                        ><span class="check"></span></span
                        >{{ $t('cruds.subjects.fields.is_group') }}</label
                        >
                    </div>

                </div>
              </div>
            </div>
            <div class="card-footer">
              <vue-button-spinner
                class="btn-primary"
                :status="status"
                :isLoading="loading"
                :disabled="loading"
              >
                {{ $t('global.save') }}
              </vue-button-spinner>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      status: '',
      activeField: ''
    }
  },
  computed: {
    ...mapGetters('SubjectSingle', ['entry', 'loading'])
  },
  beforeDestroy() {
    this.resetState()
  },
  watch: {
    '$route.params.id': {
      immediate: true,
      handler() {
        this.resetState()
        this.fetchEditData(this.$route.params.id)
      }
    }
  },
  methods: {
    ...mapActions('SubjectSingle', [
      'fetchEditData',
      'updateData',
      'resetState',
      'setName',
      'setIsPublished',
      'setIsGroup',
    ]),
    updateName(e) {
      this.setName(e.target.value)
    },
    updateIsPublished(e) {
          this.setIsPublished(e.target.checked)
     },
    updateIsGroup(e) {
          this.setIsGroup(e.target.checked)
    },
    submitForm() {
      this.updateData()
        .then(() => {
          this.$router.push({ name: 'subjects.index' })
          this.$eventHub.$emit('update-success')
        })
        .catch(error => {
          this.status = 'failed'
          _.delay(() => {
            this.status = ''
          }, 3000)
        })
    },
    focusField(name) {
      this.activeField = name
    },
    clearFocus() {
      this.activeField = ''
    }
  }
}
</script>
