<template>
  <div class="container-fluid">
    <form @submit.prevent="submitForm">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">edit</i>
              </div>
              <h4 class="card-title">
                {{ $t('global.edit') }}
                <strong>{{ $t('cruds.user.title_singular') }}</strong>
              </h4>
            </div>
            <div class="card-body">
              <back-button></back-button>
            </div>
            <div class="card-body">
                  <bootstrap-alert />
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group row">
                              <div class="col-sm-6">
                                  <div
                                      class="form-group bmd-form-group"
                                      :class="{
                      'has-items': entry.exam_title,
                      'is-focused': activeField == 'exam_title'
                    }"
                                  >
                                      <label class="bmd-label-floating required">{{
                                          $t('cruds.exam.fields.exam_title')
                                          }}</label>
                                      <input
                                          class="form-control"
                                          type="text"
                                          :value="entry.exam_title"
                                          @input="updateExamTitle"
                                          @focus="focusField('exam_title')"
                                          @blur="clearFocus"
                                          required
                                      />
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div
                                      class="form-group bmd-form-group"
                                      :class="{
                      'has-items': entry.exam_type.title !== 0,
                      'is-focused': activeField == 'exam_type'
                    }"
                                  >
                                      <label class="bmd-label-floating required">{{
                                          $t('cruds.exam.fields.exam_type')
                                          }}</label>
                                      <v-select
                                          name="exam_type"
                                          label="exam_type"
                                          :key="'exam-type-field'"
                                          :value="entry.exam_type.title"
                                          :options="lists.masterData.examType"
                                          :closeOnSelect="false"
                                          :reduce="entry => entry.id"
                                          @input="updateExamType"
                                          @search.focus="focusField('c')"
                                          @search.blur="clearFocus"
                                      />
                                  </div>
                              </div>
                          </div>

                         <div class="form-group row">
                              <div class="col-sm-6">
                                  <div
                                      class="form-group bmd-form-group"
                                      :class="{'has-items': entry.branch_id,'is-focused': activeField == 'branch_id'}">
                                      <label class="bmd-label-floating required">{{$t('cruds.exam.fields.branch_id') }}</label>
                                      <v-select
                                          name="branch_name"
                                          label="branch_name"
                                          :key="'company-field'"
                                          :value="entry.branch_id"
                                          :options="lists.masterData.branchDetails"
                                          :reduce="entry => entry.branch_id"
                                          @input="updateBranchId"
                                          @search.focus="focusField('branch_name')"
                                          @search.blur="clearFocus"
                                      />


                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div
                                      class="form-group bmd-form-group"
                                      :class="{
                      'has-items': entry.section_id.length !== 0,
                      'is-focused': activeField == 'section_id'
                    }"
                                  >
                                      <label class="bmd-label-floating required">{{
                                          $t('cruds.exam.fields.section_id')
                                          }}</label>
                                      <v-select
                                          name="section_id"
                                          label="section_name"
                                          :key="'exam-section-field'"
                                          :value="entry.section_type.name"
                                          :options="lists.masterData.sectionDetails"
                                          :closeOnSelect="false"
                                          multiple
                                          @input="updateExamSectionId"
                                          @search.focus="focusField('section_id')"
                                          @search.blur="clearFocus"
                                      />
                                  </div>
                              </div>
                          </div>

                          <div class="form-group row">

                              <div class="col-sm-6">
                                  <div
                                      class="form-group bmd-form-group"
                                      :class="{'has-items': entry.class_id,'is-focused': activeField == 'class_id'}">
                                      <label class="bmd-label-floating required">{{$t('cruds.exam.fields.class_id') }}</label>
                                      <v-select
                                          name="class_id"
                                          label="class_name"
                                          :key="'class_name-field'"
                                          :value="entry.classes_list.name"
                                          :options="lists.masterData.classDetails"
                                          :reduce="entry => entry.class_id"
                                          @input="updateExamClassId"
                                          @search.focus="focusField('class_name')"
                                          @search.blur="clearFocus"
                                      />


                                  </div>
                              </div>

                             <div class="col-sm-6">
                                  <div class="form-group bmd-form-group" :class="{'has-items': entry.term.length !== 0,'is-focused': activeField == 'exam_term'}">
                                      <label class="bmd-label-floating required">{{$t('cruds.exam.fields.exam_term')}}</label>
                                      <v-select name="exam_term" label="exam_term" :key="'exam-term-field'" :reduce="entry => entry.term_id"  :value="entry.exam_term.name"
                                                :options="lists.masterData.termDetails" :closeOnSelect="false"
                                                @input="updateExamTerm" @search.focus="focusField('exam_term')" @search.blur="clearFocus" />
                                  </div>
                              </div>
                          </div>


                          <div class="form-group row">
                            <div class="col-sm-6">
                                  <div class="form-group bmd-form-group" :class="{'has-items': entry.status.length !== 0,'is-focused': activeField == 'exam_status'}">
                                      <label class="bmd-label-floating required">{{$t('cruds.exam.fields.exam_status')}}</label>
                                      <v-select name="exam_status" label="exam_status" :key="'exam-status-field'" :value="entry.exam_status"  :options="lists.masterData.examStatus" :closeOnSelect="false"
                                                @input="updateExamStatus" :reduce="entry => entry.id"  @search.focus="focusField('exam_status')" @search.blur="clearFocus" />
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group bmd-form-group" :class="{'has-items': entry.exam_comments,'is-focused': activeField == 'exam_comments' }">
                                      <label class="bmd-label-floating">{{$t('cruds.exam.fields.exam_comments')}}</label>
                                      <textarea class="form-control" rows="5" :value="entry.exam_comments" @input="updateExamComments" @focus="focusField('exam_comments')"  @blur="clearFocus"></textarea>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <hr>

                  </div>

                  <div class="row">

                      <div class="content col-md-12" >
                          <form  v-on:submit.prevent>
                              <table class="table table-hover table-striped  w-100">
                                  <thead>
                                  <tr class="table-active">
                                      <th>{{$t('cruds.exam.fields.exam_subject')}}</th>
                                      <th>{{$t('cruds.exam.fields.exam_code')}}</th>
                                      <th>{{$t('cruds.exam.fields.mark_type_id')}}</th>
                                      <th>{{$t('cruds.exam.fields.exam_lesson')}}</th>
                                      <th>{{$t('cruds.exam.fields.exam_topic')}}</th>
                                      <th>{{$t('global.delete')}}</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr v-for="(item, index) in examSubjects">

                                      <td>
                                          <!-- <v-select name="exam_subject"   label="subject_name" :key="'exam-subject_id-field'"  :value="item.exam_subject"   v-model="item.exam_subject"
                                                     :options="lists.examSubjects"  :reduce="entry => entry.subject_id" closeOnSelect="false"
                                                         @search.focus="focusField('exam_term')" @search.blur="clearFocus" />-->

                                          <v-select
                                              name="subject_id"
                                              label="subject_name"
                                              :key="'subject_name-field'"
                                              :value="entry.exam_subject.name"
                                              :options="lists.masterData.examSubjects"
                                              @input="updateExamSubject($event,index)"
                                              @search.focus="focusField('subject_name')"
                                              @search.blur="clearFocus"
                                          />
                                      </td>

                                      <td>  <input required class="form-control" type="text" value="item.exam_code"  v-model="item.exam_code"  @focus="focusField('exam_code')" @blur="clearFocus" /></td>
                                      <td>
                                          <v-select
                                              name="mark_type_id"
                                              label="mark_type_name"
                                              :key="'mark_type_name-field'"
                                              :value="entry.mark_type.title"
                                              :options="lists.masterData.markTypes"
                                              @input="updateExamMarkTypeId($event,index)"
                                              @search.focus="focusField('mark_type_name')"
                                              :closeOnSelect="false"
                                              @search.blur="clearFocus"
                                          />

                                      </td>
                                      <td>
                                          <v-select name="exam_lesson" label="lesson" :key="'exam-exam_lesson-field'" :value="item.lesson"
                                                    :options="lists.masterData.examLesson" :closeOnSelect="false"
                                                    @search.focus="focusField('exam_term')"
                                                    @input="updateExamLesson($event,index)"
                                                    @search.blur="clearFocus" />
                                      </td>
                                      <td>
                                          <v-select name="exam_topic" label="exam_topic" :key="'exam-exam_topic-field'" :value="item.examTopic"
                                                    :options="lists.masterData.examTopic" :closeOnSelect="false"
                                                    @search.focus="focusField('exam_term')"
                                                    @input="updateExamTopic($event,index)"
                                                    @search.blur="clearFocus" />
                                      </td>
                                      <td><button v-on:click="deleteGroup(index)" class="btn btn-danger"> X </button> </td>
                                  </tr>
                                  </tbody>
                              </table>
                              <div>
                                  <button v-on:click="addGroup" class="btn btn-info float-right">{{$t('global.add')  }} {{$t('global.subject')}}</button>
                              </div>
                          </form>
                      </div>

                  </div>
              </div>
            <div class="card-footer">
              <vue-button-spinner
                class="btn-primary"
                :status="status"
                :isLoading="loading"
                :disabled="loading"
              >
                {{ $t('global.save') }}
              </vue-button-spinner>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      status: '',
      activeField: '',
      examSubjects:[],
    }
  },
  computed: {
    ...mapGetters('ExamSingle', ['entry', 'loading', 'lists'])
  },
    mounted() {
        this.fetchCreateData()
        this.addGroup();
    },
  beforeDestroy() {
    this.resetState()
  },
  watch: {
    '$route.params.id': {
      immediate: true,
      handler() {
        this.resetState()
        this.fetchEditData(this.$route.params.id)
      }
    }
  },
  methods: {
    ...mapActions('ExamSingle', [
      'fetchEditData',
      'updateData',
      'resetState',
      'setName',
      'setEmail',
      'setPassword',
      'setRoles',
        'storeData',
        'setExamTitle',
        'setExamType',
        'setBranchId',
        'setExamCode',
        'setExamSectionId',
        'setExamTerm',
        'setExamMarkTypeId',
        'setExamStatus',
        'setExamComments',
        'setExamClassId',
        'setExamSubject',
        'setExamLesson',
        'setExamTopic',
        'fetchCreateData'
    ]),
      updateExamTitle(e) {
          this.setExamTitle(e.target.value)
      },
      updateExamType(value) {
          this.setExamType(value)
      },
      updateBranchId(e) {
          this.setBranchId(e)
      },
      updateExamCode(e) {
          this.setExamCode(e.target.value)
      },
      updateExamSectionId(value) {
          this.setExamSectionId(value)
      },
      updateExamTerm(e) {
          this.setExamTerm(e)
      },
      updateExamMarkTypeId(e,index) {
          this.examSubjects[index].mark_type_id = e.mark_type_id;
      },
      updateExamStatus(e) {
          this.setExamStatus(e)
      },
      updateExamComments(e) {
          this.setExamComments(e.target.value)
      },
      updateExamClassId(e) {
          this.setExamClassId(e)
      },
      updateExamLesson(e,index) {
          this.examSubjects[index].exam_lesson = e.id;
      },
      updateExamTopic(e,index) {
          this.examSubjects[index].exam_topic = e.id;
      },
      updateExamSubject(e,index) {
          this.examSubjects[index].subject_id = e.subject_id;
      },

      updateRoles(value) {
          this.setRoles(value)
      },
    submitForm() {
      this.updateData()
        .then(() => {
          this.$router.push({ name: 'users.index' })
          this.$eventHub.$emit('update-success')
        })
        .catch(error => {
          this.status = 'failed'
          _.delay(() => {
            this.status = ''
          }, 3000)
        })
    },
    focusField(name) {
      this.activeField = name
    },
    clearFocus() {
      this.activeField = ''
    },
      addGroup() {
          var newSubject = {
              subject_id :'',
              exam_code :'',
              mark_type_id :'',
              exam_lesson :'',
              exam_topic :''

          };
          this.examSubjects.push(newSubject);
          this.setExamSubject(newSubject)
      },
      deleteGroup(index) {
          this.examSubjects.splice(index,1)
      }
  }
}
</script>
