<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <event-hub></event-hub>
    <side-bar :sidebarLinks="sidebarLinks">
      <mobile-menu slot="content"></mobile-menu>
    </side-bar>

    <div class="main-panel">
      <top-navbar></top-navbar>
      <div class="content">
        <dashboard-content></dashboard-content>
      </div>
    </div>
  </div>
</template>

<script>
import DashboardContent from './Content.vue'
import TopNavbar from './TopNavbar.vue'
import MobileMenu from './MobileMenu.vue'

export default {
  components: {
    DashboardContent,
    TopNavbar,
    MobileMenu
  },
  data() {
    return {
      sidebarLinks: [
        {
          title: 'global.dashboard',
          icon: 'dashboard',
          path: { name: 'dashboard' }
        },
        {
          title: 'cruds.userManagement.title',
          icon: 'person',
          path: { name: 'user_management' },
          gate: 'user_management_access',
          children: [
            {
              title: 'cruds.permission.title',
              icon: 'perm_data_setting',
              path: { name: 'permissions.index' },
              gate: 'permission_access'
            },
            {
              title: 'cruds.role.title',
              icon: 'group',
              path: { name: 'roles.index' },
              gate: 'role_access'
            },
            {
              title: 'cruds.user.title',
              icon: 'person',
              path: { name: 'users.index' },
              gate: 'user_access'
            }
          ]
        },
        {
              title: 'cruds.schoolManagement.title',
              icon: 'import_contacts',
              path: { name: 'contact_management' },
              gate: 'contact_management_access',
              children: [
                  {
                      title: 'cruds.managementDetails.title',
                      icon: 'fas fa-building',
                      path: { name: 'management.index' },
                      gate: 'management_access'
                  },
                  {
                      title: 'cruds.branchManagement.title',
                      icon: 'fas fa-user-plus',
                      path: { name: 'branch.index' },
                      gate: 'branch_access'
                  },
               /*   {
                      title: 'cruds.School.title',
                      icon: 'fas fa-user-plus',
                      path: { name: 'branch.index' },
                      gate: 'school_access'
                  },*/
                  {
                      title: 'cruds.Classes.title',
                      icon: 'fas fa-user-plus',
                      path: { name: 'classes.index' },
                      gate: 'classes_access'
                  },
                  {
                      title: 'cruds.Section.title',
                      icon: 'fas fa-user-plus',
                      path: { name: 'section.index' },
                      gate: 'section_access'
                  },
                  {
                      title: 'cruds.markType.title',
                      icon: 'fas fa-user-plus',
                      path: { name: 'mark_type.index' },
                      gate: 'mark_type_access'
                  },


              ]
          },
        {
              title: 'cruds.examManagement.title',
              icon: 'person',
              path: { name: 'exam_management' },
              gate: 'exam_management_access',
              children: [
                  {
                      title: 'cruds.subjects.title',
                      icon: 'table_view',
                      path: { name: 'subjects.index' },
                      gate: 'subject_access'
                  },

                  {
                      title: 'cruds.lesson.title',
                      icon: 'table_view',
                      path: { name: 'lessons.index' },
                      gate: 'lesson_access'
                  },
                  {
                      title: 'cruds.topic.title',
                      icon: 'table_view',
                      path: { name: 'tests.index' },
                      gate: 'test_access'
                  },
                  {
                      title: 'cruds.exam.title',
                      icon: 'perm_data_setting',
                      path: { name: 'exam.index' },
                      gate: 'exam_access'
                  }

              ]
        },
        {
              title: 'cruds.reportManagement.title',
              icon: 'picture_as_pdf',
              path: { name: 'reports' },
              gate: 'report_management_access',
              children: [

                  {
                      title: 'cruds.reportManagement.fields.templates',
                      icon: 'table_view',
                      path: { name: 'report_templates.index' },
                      gate: 'report_access'
                  },
              ]
          },
        {
              title: 'cruds.studentManagement.title',
              icon: 'supervised_user_circle',
              path: { name: 'students' },
              gate: 'students_management_access',
              children: [

                  {
                      title: 'cruds.studentManagement.fields.title_list',
                      icon: 'table_view',
                      path: { name: 'students.index' },
                      gate: 'students_access'
                  },
              ]
          },
          {
              title: 'cruds.chat.title',
              icon: 'wechat',
              path: { name: 'chatify' }
          },
      ]
    }
  }
}
</script>
