<template>
    <div class="container-fluid">
        <form @submit.prevent="submitForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">add</i>
                            </div>
                            <h4 class="card-title">
                                {{ $t('global.create') }}
                                <strong>{{ $t('cruds.Classes.title_singular') }}</strong>
                            </h4>
                        </div>
                        <div class="card-body">
                            <back-button></back-button>
                        </div>
                        <div class="card-body">
                            <bootstrap-alert />
                            <div class="row">
                                <div class="col-md-12">
                                    <div
                                        class="form-group bmd-form-group"
                                        :class="{
                      'has-items': entry.subject_id !== null,
                      'is-focused': activeField == 'branch'
                    }"
                                    >
                                        <label class="bmd-label-floating required">{{
                                            $t('cruds.branchManagement.fields.branch')
                                            }}</label>
                                        <v-select
                                            name="course"
                                            label="name"
                                            :key="'course-field'"
                                            :value="entry.branch_id"
                                            :options="lists.branch"
                                            :reduce="entry => entry.id"
                                            @input="updateBranch"
                                            @search.focus="focusField('branch')"
                                            @search.blur="clearFocus"
                                        />
                                    </div>
                                    <div
                                        class="form-group bmd-form-group"
                                        :class="{
                      'has-items': entry.title,
                      'is-focused': activeField == 'title'
                    }"
                                    >
                                        <label class="bmd-label-floating required">{{
                                            $t('cruds.Classes.fields.title')
                                            }}</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            :value="entry.title"
                                            @input="updateTitle"
                                            @focus="focusField('title')"
                                            @blur="clearFocus"
                                            required
                                        />
                                    </div>




                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <vue-button-spinner
                                class="btn-primary"
                                :status="status"
                                :isLoading="loading"
                                :disabled="loading"
                            >
                                {{ $t('global.save') }}
                            </vue-button-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import Attachment from '@components/Attachments/Attachment'

    export default {
        components: {
            Attachment
        },
        data() {
            return {
                status: '',
                activeField: ''
            }
        },
        computed: {
            ...mapGetters('ClassSingle', ['entry', 'loading', 'lists'])
        },
        mounted() {
            this.fetchCreateData()
        },
        beforeDestroy() {
            this.resetState()
        },
        methods: {
            ...mapActions('ClassSingle', [
                'storeData',
                'resetState',
                'setBranch',
                'setTitle',
                'insertThumbnailFile',
                'removeThumbnailFile',
                'setShortText',
                'setLongText',
                'insertVideoFile',
                'removeVideoFile',
                'setPosition',
                'setIsPublished',
                'setIsFree',
                'fetchCreateData'
            ]),
            setBranch(value) {
                this.setBranch(value)
            },
            updateTitle(e) {
                this.setTitle(e.target.value)
            },
            updateShortText(e) {
                this.setShortText(e.target.value)
            },
            updateLongText(e) {
                this.setLongText(e.target.value)
            },
            updatePosition(e) {
                this.setPosition(e.target.value)
            },
            updateIsPublished(e) {
                this.setIsPublished(e.target.checked)
            },
            updateIsFree(e) {
                this.setIsFree(e.target.checked)
            },
            getRoute(name) {
                return `${axios.defaults.baseURL}${name}/media`
            },
            submitForm() {
                this.storeData()
                    .then(() => {
                        this.$router.push({ name: 'lessons.index' })
                        this.$eventHub.$emit('create-success')
                    })
                    .catch(error => {
                        this.status = 'failed'
                        _.delay(() => {
                            this.status = ''
                        }, 3000)
                    })
            },
            focusField(name) {
                this.activeField = name
            },
            clearFocus() {
                this.activeField = ''
            }
        }
    }
</script>
