<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">remove_red_eye</i>
                        </div>
                        <h4 class="card-title">
                            {{ $t('global.view') }}
                            <strong>{{ $t('cruds.Classes.title_singular') }}</strong>
                        </h4>
                    </div>
                    <div class="card-body">
                        <back-button></back-button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <div class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-primary">
                                                {{ $t('cruds.Classes.fields.id') }}
                                            </td>
                                            <td>
                                                {{ entry.id }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-primary">
                                                {{ $t('cruds.branchManagement.fields.branch') }}
                                            </td>
                                            <td>
                                                <datatable-single :row="entry" field="branch.name">
                                                </datatable-single>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import DatatableSingle from '@components/Datatables/DatatableSingle'
    import DatatablePictures from '@components/Datatables/DatatablePictures'
    import DatatableAttachments from '@components/Datatables/DatatableAttachments'
    import DatatableCheckbox from '@components/Datatables/DatatableCheckbox'

    export default {
        components: {
            DatatableSingle,
            DatatablePictures,
            DatatableAttachments,
            DatatableCheckbox
        },
        data() {
            return {}
        },
        beforeDestroy() {
            this.resetState()
        },
        computed: {
            ...mapGetters('ClassSingle', ['entry'])
        },
        watch: {
            '$route.params.id': {
                immediate: true,
                handler() {
                    this.resetState()
                    this.fetchShowData(this.$route.params.id)
                }
            }
        },
        methods: {
            ...mapActions('ClassSingle', ['fetchShowData', 'resetState'])
        }
    }
</script>
