<template>
  <div class="container-fluid">
    <form @submit.prevent="submitForm">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">add</i>
              </div>
              <h4 class="card-title">
                {{ $t('global.create') }}
                <strong>{{
                  $t('cruds.subjects.title_singular')
                }}</strong>
              </h4>
            </div>
            <div class="card-body">
              <back-button></back-button>
            </div>
            <div class="card-body">
              <bootstrap-alert />
              <div class="row">
                <div class="col-md-12">
                  <div
                    class="form-group bmd-form-group"
                    :class="{
                      'has-items': entry.title,
                      'is-focused': activeField == 'name'
                    }"
                  >
                    <label class="bmd-label-floating required">{{
                        $t('cruds.markType.fields.title')
                    }}</label>
                    <input
                      class="form-control"
                      type="text"
                      :value="entry.title"
                      @input="updateName"
                      @focus="focusField('name')"
                      @blur="clearFocus"
                      required
                    />
                  </div>

                    <div
                        class="form-group bmd-form-group"
                        :class="{
                      'has-items': entry.maximum_mark,
                      'is-focused': activeField == 'maximum_mark'
                    }"
                    >
                        <label class="bmd-label-floating required">{{
                            $t('cruds.markType.fields.maximum_mark')
                            }}</label>
                        <input
                            class="form-control"
                            type="number"
                            :value="entry.maximum_mark"
                            @input="updateMaxMark"
                            @focus="focusField('maximum_mark')"
                            @blur="clearFocus"
                            required
                        />
                    </div>

                    <div
                        class="form-group bmd-form-group"
                        :class="{
                      'has-items': entry.passing_mark,
                      'is-focused': activeField == 'passing_mark'
                    }"
                    >
                        <label class="bmd-label-floating required">{{
                            $t('cruds.markType.fields.passing_mark')
                            }}</label>
                        <input
                            class="form-control"
                            type="number"
                            :value="entry.passing_mark"
                            @input="updatePassingMark"
                            @focus="focusField('passing_mark')"
                            @blur="clearFocus"
                            required
                        />
                    </div>


                    <div class="form-group form-check">
                        <label class="form-check-label"
                        ><input
                            class="form-check-input"
                            type="checkbox"
                            :value="entry.is_published"
                            :checked="entry.is_published"
                            @change="updateIsPublished"
                        /><span class="form-check-sign"
                        ><span class="check"></span></span
                        >{{ $t('cruds.subjects.fields.is_published') }}</label
                        >
                    </div>


                </div>
              </div>
            </div>
            <div class="card-footer">
              <vue-button-spinner
                class="btn-primary"
                :status="status"
                :isLoading="loading"
                :disabled="loading"
              >
                {{ $t('global.save') }}
              </vue-button-spinner>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      status: '',
      activeField: ''
    }
  },
  computed: {
    ...mapGetters('MarkTypeSingle', ['entry', 'loading'])
  },
  beforeDestroy() {
    this.resetState()
  },
  methods: {
    ...mapActions('MarkTypeSingle', [
      'storeData',
      'resetState',
      'setName',
      'setMaxMark',
      'setPassingMark',
      'setIsPublished',
    ]),
    updateName(e) {
      this.setName(e.target.value)
    },
    updateMaxMark(e) {
      this.setMaxMark(e.target.value)
    },
    updatePassingMark(e) {
      this.setPassingMark(e.target.value)
    },
    updateIsPublished(e) {
          this.setIsPublished(e.target.checked)
    },

    submitForm() {
      this.storeData()
        .then(() => {
          this.$router.push({ name: 'mark_type.index' })
          this.$eventHub.$emit('create-success')
        })
        .catch(error => {
          this.status = 'failed'
          _.delay(() => {
            this.status = ''
          }, 3000)
        })
    },
    focusField(name) {
      this.activeField = name
    },
    clearFocus() {
      this.activeField = ''
    }
  }
}
</script>
