<template>
  <div class="container-fluid">
    <form @submit.prevent="submitForm">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">edit</i>
              </div>
              <h4 class="card-title">
                {{ $t('global.edit') }}
                <strong>{{ $t('cruds.studentManagement.title_singular') }}</strong>
              </h4>
            </div>
            <div class="card-body">
              <back-button></back-button>
            </div>
            <div class="card-body">
              <bootstrap-alert />
              <div class="row">
                  <div class="col-md-12">
                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.branch_id !== null,
                      'is-focused': activeField == 'branch'
                    }"
                      >
                          <label class="bmd-label-floating required">{{
                              $t('cruds.branchManagement.fields.branch')
                              }}</label>
                          <v-select
                              name="branch_id"
                              label="name"
                              :key="'branch-field'"
                              :value="entry.branch_id"
                              :options="lists.branch"
                              :reduce="entry => entry.id"
                              @input="updateBranch"
                              @search.focus="focusField('branch')"
                              @search.blur="clearFocus"
                          />
                      </div>

                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.class_id !== null,
                      'is-focused': activeField == 'class_id'
                    }"
                      >
                          <label class="bmd-label-floating required">{{
                              $t('cruds.Classes.fields.title')
                              }}</label>
                          <v-select
                              name="class_id"
                              label="name"
                              :key="'course-field'"
                              :value="entry.class_id"
                              :options="lists.classes"
                              :reduce="entry => entry.id"
                              @input="updateClass"
                              @search.focus="focusField('class')"
                              @search.blur="clearFocus"
                          />
                      </div>


                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.first_name,
                      'is-focused': activeField == 'first_name'
                    }"
                      >
                          <label class="bmd-label-floating">{{
                              $t('cruds.studentManagement.fields.first_name')
                              }}</label>
                          <input
                              class="form-control"
                              type="text"
                              :value="entry.first_name"
                              @input="updateStudentFName"
                              @focus="focusField('first_name')"
                              @blur="clearFocus"
                          />
                      </div>

                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.first_name,
                      'is-focused': activeField == 'last_name'
                    }"
                      >
                          <label class="bmd-label-floating">{{
                              $t('cruds.studentManagement.fields.last_name')
                              }}</label>
                          <input
                              class="form-control"
                              type="text"
                              :value="entry.last_name"
                              @input="updateStudentLName"
                              @focus="focusField('last_name')"
                              @blur="clearFocus"
                          />
                      </div>






                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.phone_1,
                      'is-focused': activeField == 'phone_1'
                    }"
                      >
                          <label class="bmd-label-floating">{{
                              $t('cruds.studentManagement.fields.phone_1')
                              }}</label>
                          <input
                              class="form-control"
                              type="text"
                              :value="entry.phone_1"
                              @input="updateContactPhone1"
                              @focus="focusField('phone_1')"
                              @blur="clearFocus"
                          />
                      </div>
                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.phone_2,
                      'is-focused': activeField == 'phone_2'
                    }"
                      >
                          <label class="bmd-label-floating">{{
                              $t('cruds.studentManagement.fields.phone_2')
                              }}</label>
                          <input
                              class="form-control"
                              type="text"
                              :value="entry.phone_2"
                              @input="updateContactPhone2"
                              @focus="focusField('phone_2')"
                              @blur="clearFocus"
                          />
                      </div>
                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.email,
                      'is-focused': activeField == 'email'
                    }"
                      >
                          <label class="bmd-label-floating">{{
                              $t('cruds.studentManagement.fields.email')
                              }}</label>
                          <input
                              class="form-control"
                              type="text"
                              :value="entry.email"
                              @input="updateContactEmail"
                              @focus="focusField('email')"
                              @blur="clearFocus"
                          />
                      </div>
                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.website,
                      'is-focused': activeField == 'website'
                    }"
                      >
                          <label class="bmd-label-floating">{{
                              $t('cruds.managementDetails.fields.website')
                              }}</label>
                          <input
                              class="form-control"
                              type="text"
                              :value="entry.website"
                              @input="updateCompanyWebsite"
                              @focus="focusField('website')"
                              @blur="clearFocus"
                          />
                      </div>
                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.address,
                      'is-focused': activeField == 'address'
                    }"
                      >
                          <label class="bmd-label-floating">{{
                              $t('cruds.studentManagement.fields.address')
                              }}</label>
                          <input
                              class="form-control"
                              type="text"
                              :value="entry.address"
                              @input="updateContactAddress"
                              @focus="focusField('address')"
                              @blur="clearFocus"
                          />
                      </div>

                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.street,
                      'is-focused': activeField == 'street'
                    }"
                      >
                          <label class="bmd-label-floating">{{
                              $t('cruds.studentManagement.fields.street')
                              }}</label>
                          <input
                              class="form-control"
                              type="text"
                              :value="entry.street"
                              @input="updateCompanyStreet"
                              @focus="focusField('street')"
                              @blur="clearFocus"
                          />
                      </div>

                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.city,
                      'is-focused': activeField == 'city'
                    }"
                      >
                          <label class="bmd-label-floating">{{
                              $t('cruds.studentManagement.fields.city')
                              }}</label>
                          <input
                              class="form-control"
                              type="text"
                              :value="entry.city"
                              @input="updateCompanyCity"
                              @focus="focusField('city')"
                              @blur="clearFocus"
                          />
                      </div>
                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.state,
                      'is-focused': activeField == 'state'
                    }"
                      >
                          <label class="bmd-label-floating">{{
                              $t('cruds.studentManagement.fields.state')
                              }}</label>
                          <input
                              class="form-control"
                              type="text"
                              :value="entry.state"
                              @input="updateCompanyState"
                              @focus="focusField('state')"
                              @blur="clearFocus"
                          />
                      </div>

                      <div
                          class="form-group bmd-form-group"
                          :class="{
                      'has-items': entry.zip,
                      'is-focused': activeField == 'zip'
                    }"
                      >
                          <label class="bmd-label-floating">{{
                              $t('cruds.studentManagement.fields.zip')
                              }}</label>
                          <input
                              class="form-control"
                              type="text"
                              :value="entry.zip"
                              @input="updateCompanyZip"
                              @focus="focusField('zip')"
                              @blur="clearFocus"
                          />
                      </div>


                      <div class="form-group">
                          <label>{{ $t('cruds.studentManagement.fields.thumbnail') }}</label>
                          <attachment
                              :route="getRoute('students')"
                              :collection-name="'students_thumbnail'"
                              :media="entry.thumbnail"
                              :max-file-size="1"
                              :component="'pictures'"
                              :accept="'image/*'"
                              @file-uploaded="insertThumbnailFile"
                              @file-removed="removeThumbnailFile"
                          />
                      </div>



                  </div>
              </div>
            </div>
            <div class="card-footer">
              <vue-button-spinner
                class="btn-primary"
                :status="status"
                :isLoading="loading"
                :disabled="loading"
              >
                {{ $t('global.save') }}
              </vue-button-spinner>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Attachment from '@components/Attachments/Attachment'

export default {
    components: {
        Attachment
    },
  data() {
    return {
      status: '',
      activeField: ''
    }
  },
  computed: {
    ...mapGetters('StudentsSingle', ['entry', 'loading', 'lists'])
  },
  beforeDestroy() {
    this.resetState()
  },
  watch: {
    '$route.params.id': {
      immediate: true,
      handler() {
        this.resetState()
        this.fetchEditData(this.$route.params.id)
      }
    }
  },
  methods: {
    ...mapActions('StudentsSingle', [
      'fetchEditData',
      'updateData',
      'resetState',
        'storeData',
        'resetState',
        'setBranch',
        'setStudentFName',
        'setStudentLName',
        'setContactLastName',
        'setContactPhone1',
        'setContactPhone2',
        'setContactEmail',
        'setCompanyWebsite',
        'setContactAddress',
        'setCompanyZip',
        'setCompanyCity',
        'setCompanyState',
        'setCompanyStreet',
        'fetchCreateData',
        'setClass',
        'insertThumbnailFile',
        'removeThumbnailFile',
    ]),
      updateBranch(value) {
          this.setBranch(value)
      },
      updateClass(value) {
          this.setClass(value)
      },
      updateStudentFName(e) {
          this.setStudentFName(e.target.value)
      },
      updateStudentLName(e) {
          this.setStudentLName(e.target.value)
      },
      updateContactLastName(e) {
          this.setContactLastName(e.target.value)
      },
      getRoute(name) {
          return `${axios.defaults.baseURL}${name}/media`
      },
      updateContactPhone1(e) {
          this.setContactPhone1(e.target.value)
      },
      updateCompanyCity(e) {
          this.setCompanyCity(e.target.value)
      }, updateCompanyState(e) {
          this.setCompanyState(e.target.value)
      },
      updateCompanyStreet(e) {
          this.setCompanyStreet(e.target.value)
      },
      updateCompanyZip(e) {
          this.setCompanyZip(e.target.value)
      },
      updateContactPhone2(e) {
          this.setContactPhone2(e.target.value)
      },
      updateContactEmail(e) {
          this.setContactEmail(e.target.value)
      },
      updateCompanyWebsite(e) {
          this.setCompanyWebsite(e.target.value)
      },
      updateContactAddress(e) {
          this.setContactAddress(e.target.value)
      },
    submitForm() {
      this.updateData()
        .then(() => {
          this.$router.push({ name: 'students.index' })
          this.$eventHub.$emit('update-success')
        })
        .catch(error => {
          this.status = 'failed'
          _.delay(() => {
            this.status = ''
          }, 3000)
        })
    },
    focusField(name) {
      this.activeField = name
    },
    clearFocus() {
      this.activeField = ''
    }
  }
}
</script>
