<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">

              <strong>{{ $t('cruds.chat.title') }}</strong>
            </h4>
          </div>
          <div class="card-body">


          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                  <iframe width="100%" style="height: 800px;" :src="link"></iframe>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import DatatableActions from '@components/Datatables/DatatableActions'
import TranslatedHeader from '@components/Datatables/TranslatedHeader'
import HeaderSettings from '@components/Datatables/HeaderSettings'
import GlobalSearch from '@components/Datatables/GlobalSearch'
import DatatableSingle from '@components/Datatables/DatatableSingle'
import DatatablePictures from '@components/Datatables/DatatablePictures'
import DatatableAttachments from '@components/Datatables/DatatableAttachments'
import DatatableCheckbox from '@components/Datatables/DatatableCheckbox'

export default {
  components: {
    GlobalSearch,
    HeaderSettings
  },
  data() {
    return {
      link:"/chatify",
      columns: [
        {
          title: 'cruds.studentManagement.fields.id',
          field: 'id',
          thComp: TranslatedHeader,
          sortable: true,
          colStyle: 'width: 100px;'
        },
        {
          title: 'cruds.branchManagement.fields.branch',
          field: 'branch.name',
          thComp: TranslatedHeader,
          tdComp: DatatableSingle,
          sortable: true
        },
         {
              title: 'cruds.Classes.fields.title',
              field: 'classes.name',
              thComp: TranslatedHeader,
              tdComp: DatatableSingle,
              sortable: true
         },
        {
              title: 'cruds.studentManagement.fields.thumbnail',
              field: 'thumbnail',
              thComp: TranslatedHeader,
              tdComp: DatatablePictures
        },
        {
          title: 'cruds.studentManagement.fields.first_name',
          field: 'first_name',
          thComp: TranslatedHeader,
          sortable: true
        },
        {
          title: 'cruds.studentManagement.fields.last_name',
          field: 'last_name',
          thComp: TranslatedHeader,
          sortable: true
        },
        {
          title: 'cruds.studentManagement.fields.email',
          field: 'email',
          thComp: TranslatedHeader,
          sortable: true
        },
        {
          title: 'cruds.studentManagement.fields.skype',
          field: 'skype',
          thComp: TranslatedHeader,
          sortable: true
        },
        {
          title: 'cruds.studentManagement.fields.address',
          field: 'address',
          thComp: TranslatedHeader,
          sortable: true
        },
        {
          title: 'global.actions',
          thComp: TranslatedHeader,
          tdComp: DatatableActions,
          visible: true,
          thClass: 'text-right',
          tdClass: 'text-right td-actions',
          colStyle: 'width: 150px;'
        }
      ],
      query: { sort: 'id', order: 'desc', limit: 100, s: '' },
      xprops: {
        module: 'StudentsIndex',
        route: 'students',
        permission_prefix: 'students_'
      }
    }
  },
  beforeDestroy() {
    this.resetState()
  },
  computed: {
    ...mapGetters('StudentsIndex', ['data', 'total', 'loading'])
  },
  watch: {
    query: {
      handler(query) {
        this.setQuery(query)
        this.fetchIndexData()
      },
      deep: true
    }
  },
  methods: {
    ...mapActions('StudentsIndex', [
      'fetchIndexData',
      'setQuery',
      'resetState'
    ])
  }
}
</script>
